fastapi==0.115.12
uvicorn==0.34.2
prometheus-client==0.21.1
opentelemetry-distro==0.52b0
opentelemetry-instrumentation-fastapi==0.52b0
opentelemetry-instrumentation-logging==0.52b0
opentelemetry-exporter-otlp==1.31.0
prometheus_fastapi_instrumentator==7.1.0
opentelemetry-instrumentation-sqlalchemy==0.52b0
sqlmodel==0.0.24
psycopg2-binary==2.9.10
pyroscope-io==0.8.14
